html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;

  margin: 0;

  background: #FDFDFE;

  font-family: 'Consolas', sans-serif;
  font-size: 14px;
  line-height: 1.5;

  overflow-y: auto;
}

.content {
  margin-top: 80px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

#root {
  height: 100%;
}

input,
select,
textarea,
button {
  font-family: 'Consolas', sans-serif;
}
